


Please confirm that you validate this event:<br/><br/>



Titre : 
	<%=@event_tobeshown.title%><br/>
Description : 
	<%=@event_tobeshown.description%><br/>
Debut : 
	<%=@event_tobeshown.start_date%><br/>
Durée :
	<%=@event_tobeshown.length%><br/>
Prix : 
	<%=@event_tobeshown.price%><br/>

<a href="/admin/validate/<%=@event_tobeshown.id%>">Appliquer la validation</a>
<hr>
